[Unit]
Description=sxhkd
After=graphical.target

[Service]
Type=simple
ExecStart=-/home/rr-/.config/sxhkd/control start
ExecStop=-/home/rr-/.config/sxhkd/control stop

[Install]
WantedBy=multi-user.target
