[user]
	name = Marcin Kurczewski
	email = mkurczew@gmail.com
[github]
	user = rr-
[branch]
	autosetuprebase = always
[color]
	diff = always
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	eol = lf
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[diff]
	tool = vimdiff
[push]
	default = upstream
