[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdtree-tabs"]
	path = vim/bundle/nerdtree-tabs
	url = http://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/colors-hemisu"]
	path = vim/bundle/colors-hemisu
	url = https://github.com/noahfrederick/Hemisu
