URxvt*font: xft:Input Mono Light:pixelsize=12
URxvt*boldFont: xft:Input Mono Light:pixelsize=12
URxvt*allowBoldFonts: false
URxvt*scrollBar: false
URxvt*scrollWithBuffer: true
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

URxvt.keysym.C-Tab: \033[1;5I
URxvt.keysym.Control-Shift-ISO_Left_Tab: \033[1;6I
URxvt*iso14755: False
URxvt*iso14755_52: False
