{
  "name": "Dash",
  "base": "{{theme}}",
  "overrides": {
    "warning": "{{state.warning_dim}}",
    "diffAdded": "{{diff.add.bg}}",
    "diffRemoved": "{{diff.del.bg}}",
    "diffAddedWord": "{{diff.add.emph}}",
    "diffRemovedWord": "{{diff.del.emph}}",
    "diffAddedDimmed": "{{diff.add.quiet}}",
    "diffRemovedDimmed": "{{diff.del.quiet}}"
  }
}
