[Unit]
Description=mpv music daemon
Wants=network.target remote-fs.target
After=syslog.target network.target remote-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/.local/bin/mpvmd
Environment=LD_LIBRARY_PATH=/usr/local/lib
Restart=on-abort

[Install]
WantedBy=default.target
