[user]
	name = rr-
	email = mkurczew@gmail.com
[github]
	user = rr-
[branch]
	autosetuprebase = always
[color]
	diff = always
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	eol = lf
	whitespace = tab-in-indent
[alias]
	amen = commit --amend
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[diff]
	tool = vimdiff
[push]
	default = upstream
[color "diff"]
	old = red reverse
	new = green reverse
	whitespace = blue reverse
